.container {
  padding: 0;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px;
  min-height: 80vh;
}

.footer {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
  justify-content: space-between;
  padding: 2rem 0;
  background-color: #09090d;
}

.title,
.description {
  margin: 0;
  line-height: 150%;
  font-weight: 500;
  font-family: Poppins;
}

.subtitle {
  font-size: 14px;
  font-family: Poppins;
  color: #d0cfd1;
  margin-top: 0;
}

.description {
  font-size: 16px;
  line-height: 1.5;
}

.question {
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  margin-top: 30px;
}

.nextButton {
  background: linear-gradient(to right, #523fd7, #ff7dff);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-right: 10px;
  font-size: 12px;
}

.backButton {
  font-size: 12px;
  font-family: Poppins;
}
